<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GADDirectory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>369F786F1DA0BB510064ACAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>369F78881DA0BB510064ACAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>369F78931DA0BB510064ACAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAFB93EE1E4FAF1400A68015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAFB93F61E4FAF1400A68015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
